/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 */

@import "bourbon";
@import "fonts.css.scss";
@import "colors.css.scss";

body {
  margin: 0px;
}

//The clear fix technique for the topMenu as the parent
// Refer to http://learn.shayhowe.com/advanced-html-css/detailed-css-positioning
//todo : replace with mixin
#topMenu:before, #topMenu:after {
  display: table;

  content: "";
}

#topMenu:after {
  clear: both;
}

#topMenu {

  *zoom: 1;
}

//----- End of Clear fix for topMenu

//This is the top Menu. Contains several sections within it.
//Nameley, Circle for a dropdown menu in the left
// A centered message bar in the center
// A square which will be a search bar to the right

#topMenu {
  @include border-bottom-radius(7px);

  @include linear-gradient($blue, 40%);
  width: 100%;
  min-width: 800px;
  margin: auto;
  padding: 0px;

  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: $black;

  font-family: champagne_limousines_regular;

  //Setting the position static so that topMenu is the first of the blocks
  //refer to http://learn.shayhowe.com/advanced-html-css/detailed-css-positioning
  position: static;

  //Providing a container within menu to house the circle
  #circleContainer {
    float: left;
    overflow: auto;

    width: 35px;
    height: 25px;

    border-bottom-left-radius: inherit;

    //The circle will be a menu button.
    .circle {
      //important - If we do not provide width value, the circle does not auto align horizontally
      width: 0px;
      margin-top: 3px;
      margin-right: auto;
      margin-left: auto;

      border-width: 10px;
      border-style: solid;
      border-color: $red;
      border-radius: 10px;

    }

  }

  #messageBar {
    float: left;

    color: $white;

    font-size: 22px;

    //This is the only way I found that cneters the message bar
    //todo : Need to find how to fill this div (center it)
    margin-left: 50%;
  }

  //Initially thought will be a child within this container. Leaving it as is
  //for now
  #squareContainer {
    float: right;

    width: 35px;
    height: 25px;

    border-bottom-right-radius: inherit;
    background-color: $green;

  }

}

//----- End of top Menu

#notice {
  margin-bottom: 2em;
  padding: 1em;

  color: #000 !important;
  border: 2px solid #ff0000;
  background-color: #f0f0f0;

  font: bold smaller sans-serif;
}

#columns {
  background: #268018;

  #main {
    margin-left: 17em;
    padding: 5px;

    background: #ffffff;

  }

  #side {
    float: left;

    height: inherit;

    background: #141;

    //width: 50px;
    //padding: 1em 2em;

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb;

          font-size: small;
        }
      }
    }
  }
}

