// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;

    color: #226;
    border-bottom: 3px dotted #77d;

    font: 150% sans-serif;
  }

  /* An entry in the store catalog*/
  .entry {
    overflow: auto;

    min-height: 100px;
    margin-top: 1em;

    border-bottom: 1px dotted #77d;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 100px;

    color: #227;

    font-family: sans-serif;
    font-size: 120%;
  }

  p, div.price_line {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    margin-left: 100px;

    form, div {
      display: inline;
    }

  }

  .price {
    margin-right: 3em;

    color: #44a;

    font-weight: bold;
  }

}